[user]
    name = baitu
    email = zbaitu@gmail.com

[http]
	# http SA
    sslverify = false
	#proxy = 127.0.0.1:8067

[color]
    ui = true

[core]
    editor = vim
    excludesfile = ~/.gitignore

[diff]
    tool = vimdiff

[difftool]
    prompt = No

[push]
    default = matching
